html,
body {
    font-family: $font;
    background-color: $dark-blue;
    color: white;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        display: none;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: white;
    transition: 300ms ease;

    &:hover {
        color: $yellow;
        text-decoration: none;
    }
}

button {
    font-family: $font;
    color: white;
    transition: 300ms ease;

    &:focus {
        outline: none;
        border: none;
    }

    &:hover {
        color: $yellow;
        text-decoration: none;
    }
}

img {
    width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.3;
}


input,
textarea {
    width: 100%;
    border: none;
    padding: 5px 15px;

    &:focus {
        outline: none;
        border: none;
    }
}

button {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    &:focus {
        outline: none;
        border: none;
    }
}

.btn-primary {
    display: flex;
    background-color: $yellow;
    padding: 10px 55px;
    border-radius: 50px;
    color: white;
    font-weight: 600;
    font-size: 17px;
    transition: 300ms ease;

    &:hover {
        background-color: darken($color: $yellow, $amount: 15);
    }
}

.main-input {
    border-radius: 10px;
    background: $blue-2;
    color: white;
    width: 100%;
    padding: 6px 10px;
    font-size: 14px;

    &::placeholder {
        color: rgba(100, 108, 120, 1);
        opacity: 1;
    }
}

.main-btn {
    border-radius: 10px;
    color: white;
    background: $yellow;
    width: 100%;
    padding: 6px 10px;
    font-size: 13px;

    &:hover {
        color: white;
        background-color: darken($color: $yellow, $amount: 10);
    }
}

/* Containers */
.container {
    width: 100%;
    max-width: 1450px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.container-fluid {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.main {
    position: relative;
    z-index: 2;
}

/* Template */
.main-bg {
    width: 100%;
    background: linear-gradient(180deg, #1F252E 0%, rgba(31, 37, 46, 0.90) 66.15%);
    position: absolute;
    left: 0;
    top: 0;

    &__overlay {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        position: relative;
        background: radial-gradient(50.05% 50.05% at 50% 27.59%, rgba(31, 37, 46, 0.00) 100%);
    }

    &__img {
        width: 100%;
        height: 100vh;
        opacity: 0.05;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
    }
}

.content-bg {
    background: #0D0F14;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.content-over {
    position: relative;
    z-index: 2;
}

.content-page {

    &__block {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__page {
        width: 75%;
        max-width: 1200px;
        margin-bottom: 50px;
        position: relative;
        z-index: 6;
    }

    &__menu {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 38px;
        padding-bottom: 30px;

        &_block {
            width: 2px;
            height: 100%;
            background-color: $yellow;
        }

        &_content {
            margin-top: 50px;
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: 95%;
        }
    }

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 250px;

        &_text {
            font-size: 37px;
            text-align: left;
            max-width: 400px;
            line-height: 1.2;
            margin: 0;
            text-transform: uppercase;
        }

        &_block {
            max-width: 400px;
            display: flex;
            flex-direction: column;
        }

        &_logo {}

        &_subtext {
            font-size: 18px;
            line-height: 1.2;
            margin-top: 8px;
            font-weight: 400;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        @include laptop {
            flex-wrap: wrap;
        }

        &_left {
            width: 100%;
            max-width: 100%;
        }

        &_right {
            width: 100%;
            max-width: 240px;
        }

        &_center {
            width: 100%;
            margin-bottom: 20px;
        }
    }
}

.content-menu-item {
    position: relative;
    left: -20px;

    &-active {
        left: 0;
        margin-bottom: 30px;
    }

    &__block {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__img {
        position: relative;

        &_active {
            width: 38px;
            position: relative;
            left: -2.7px;
        }

        &_icon {
            position: absolute;
            left: 15px;
            top: 110px;
            width: 38px;
        }
    }

    &__icon {
        &_img {
            width: 38px;
        }
    }

    &__submenu {
        position: relative;
        width: 100%;
        display: flex;

        &_main {
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1;
        }

        &_block {
            position: absolute;
            top: 35px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 7px;
        }

        &_item {
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            padding-bottom: 5px;
            letter-spacing: 1.2px;
            display: inline-block;
            border-bottom: 2px solid transparent;

            &:hover {
                border-bottom: 2px solid #F09123
            }

            &.active {
                border-bottom: 2px solid #F09123;
                font-weight: 700;
            }
        }
    }

}

.service-cards {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @include laptop {
        display: none;
    }
}