html,
body {
    font-family: $font;
    background-color: $dark-blue;
    color: white;

    &::-webkit-scrollbar {
        display: none;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: white;
    transition: 300ms ease;

    &:hover {
        color: $yellow;
        text-decoration: none;
    }
}

button {
    font-family: $font;
    color: white;
    transition: 300ms ease;

    &:focus {
        outline: none;
        border: none;
    }

    &:hover {
        color: $yellow;
        text-decoration: none;
    }
}

img {
    width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.3;
}


input,
textarea {
    width: 100%;
    border: none;
    padding: 5px 15px;

    &:focus {
        outline: none;
        border: none;
    }
}

button {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    &:focus {
        outline: none;
        border: none;
    }
}

.btn-primary {
    display: flex;
    background-color: $yellow;
    padding: 10px 55px;
    border-radius: 50px;
    color: white;
    font-weight: 600;
    font-size: 17px;
    transition: 300ms ease;

    &:hover {
        background-color: darken($color: $yellow, $amount: 15);
    }
}

.main-input {
    border-radius: 10px;
    background: $blue-2;
    color: white;
    width: 100%;
    padding: 6px 10px;
    font-size: 14px;

    &::placeholder {
        color: rgba(100, 108, 120, 1);
        opacity: 1;
    }
}

.main-btn {
    border-radius: 10px;
    color: white;
    background: $yellow;
    width: 100%;
    padding: 6px 10px;
    font-size: 13px;

    &:hover {
        color: white;
        background-color: darken($color: $yellow, $amount: 10);
    }
}

/* Containers */
.container {
    width: 100%;
    max-width: 1450px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.container-fluid {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.menu-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 7%;
}

.main {
    position: relative;
    z-index: 2;
}

/* Template */
.main-bg {
    width: 100%;
    background: linear-gradient(180deg, #1F252E 0%, rgba(31, 37, 46, 0.90) 66.15%);
    position: absolute;
    left: 0;
    top: 0;

    &__overlay {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        position: relative;
        background: radial-gradient(50.05% 50.05% at 50% 27.59%, rgba(31, 37, 46, 0.00) 100%);
    }

    &__img {
        width: 150%;
        height: 150vh;
        opacity: 0.05;
        position: absolute;
        left: -25%;
        top: -25%;
    }
}

.content-bg {
    background: #0D0F14;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.content-over {
    position: relative;
    z-index: 2;
}

.content-page {

    &__block {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__page {
        width: 75%;
        max-width: 1200px;
        margin-bottom: 50px;
        position: relative;
        z-index: 6;
    }

    &__menu {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 38px;
        padding-bottom: 30px;

        &_block {
            width: 2px;
            height: 100%;
            background-color: $yellow;
        }

        &_content {
            margin-top: 50px;
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: 95%;
        }
    }

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 250px;

        &_text {
            font-size: 37px;
            text-align: left;
            max-width: 400px;
            line-height: 1.2;
            margin: 0;
            text-transform: uppercase;
        }

        &_block {
            max-width: 400px;
            display: flex;
            flex-direction: column;
        }

        &_logo {}

        &_subtext {
            font-size: 18px;
            line-height: 1.2;
            margin-top: 8px;
            font-weight: 400;
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;

        &_left {
            width: 100%;
            max-width: 750px;
        }

        &_right {
            width: 100%;
            max-width: 240px;
        }

        &_center {
            width: 100%;
        }
    }
}

.content-menu-item {
    position: relative;
    left: -20px;

    &-active {
        left: 0;
        margin-bottom: 30px;
    }

    &__block {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__img {
        position: relative;

        &_active {
            width: 38px;
            position: relative;
            left: -2.7px;
        }

        &_icon {
            position: absolute;
            left: 15px;
            top: 110px;
            width: 38px;
        }
    }

    &__icon {
        &_img {
            width: 38px;
        }
    }

    &__submenu {
        position: relative;
        width: 100%;
        display: flex;

        &_main {
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1;
        }

        &_block {
            position: absolute;
            top: 35px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 7px;
        }

        &_item {
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            padding-bottom: 5px;
            letter-spacing: 1.2px;
            display: inline-block;
            border-bottom: 2px solid transparent;

            &:hover {
                border-bottom: 2px solid #F09123
            }

            &.active {
                border-bottom: 2px solid #F09123;
                font-weight: 700;
            }
        }
    }

}

.service-cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Menu */
.page-menu {
    width: 260px;
    height: 100%;
    border-radius: 0px 72px 0px 0px;
    border: 1px solid transparent;
    border-bottom: none;
    position: absolute;
    left: -1px;
    top: 0;
    z-index: 5;
    display: flex;
    flex-wrap: wrap;

    &__logo {
        width: 110px;
        margin: 24px 20px 0;
    }

    &__block {
        display: flex;
        width: 100%;
        height: 100%;
        margin-top: 155px;
        position: relative;
    }

    &__dot {
        position: fixed;
        left: 0;
        display: flex;
        align-items: flex-start;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 18px;
        height: 100%;

        &_block {
            width: 20px;
            height: 0;
            padding: 5px 20px;
            display: flex;
            align-items: center;
            gap: 10px;
            transform: rotate(90deg);
            transform-origin: inherit;
        }

        &_img {
            width: 20px;
            height: 20px;
        }
    }

    &__line {
        width: 2px;
        height: 100%;
        background-color: $yellow;
        position: relative;
        left: 40px;
    }

    &__menu {
        position: fixed;
        left: 42px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding: 5px 20px;

        &_drop {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            gap: 6px;
            margin-left: 15px;
            margin-top: 10px;

            &.active {
                margin: 0 20px 0;
            }

            &_link {
                display: none;
                font-size: 18px;
                text-transform: uppercase;
                font-weight: 700;
                transition: none;

                &.active {
                    display: block;
                    font-weight: 700;
                }
            }
        }

        &_item {
            display: none;
            visibility: hidden;
            transform: rotate(90deg);
            transform-origin: left;
            transition: 400ms ease-in-out;

            &.active {
                margin-top: 70px;
                display: flex;
                align-items: center;
                visibility: visible;
            }
        }

        &_link {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 18px;
            color: #686E79;

            &.active {
                color: #686E79;

                &::after {
                    content: ">";
                    display: inline-block;
                    margin-left: 15px;
                }
            }
        }
    }

    &:hover {
        border: 1px solid $yellow;
        border-bottom: none;
        background: linear-gradient(180deg, #1F252E 50%, #0D0F14);
        z-index: 10;

        .page-menu__menu_item {
            display: flex;
            transform: none;
            visibility: visible;
        }

        .page-menu__menu_item.active {
            align-items: flex-start;
            flex-direction: column;
            margin-top: 0;
        }

        .page-menu__menu_drop_link {
            display: block;
            text-transform: none;
            font-weight: 400;
            font-size: 16px;
        }

        .page-menu__menu_link.active::after {
            display: none;
        }

        .page-menu__menu_link.active {
            color: white;
        }

        .page-menu__menu_drop.active {
            margin: 5px 10px;
        }

        .page-menu__menu_drop_link.active {
            font-weight: 700;
            color: $yellow;
            border-bottom: 2px solid;
        }

    }
}