.footer {
    padding-top: 20px;
    padding-bottom: 80px;
    position: relative;
    z-index: 5;
    background: linear-gradient(180deg, rgba(13, 15, 20, 0.00) 0%, #0D0F14 10.42%, #0D0F14 100%);

    &__block {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        width: 97px;
    }

    &__menu {
        display: flex;
        gap: 40px;

        &_title {
            font-size: 18px;
            font-weight: 700;
        }

        &_links {
            display: flex;
            flex-direction: column;
            gap: 7px;
            margin-top: 20px;
        }

        &_link {
            font-size: 15px;
            font-weight: 300;
        }
    }

    &__contact {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__number {
        margin-top: 30px;
        font-size: 35px;
        font-weight: 900;

        @include laptop {
            font-size: 30px;
        }

        @include netbook {
            font-size: 26px;
        }
    }

    &__social {
        margin-top: 40px;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;

        &_link {
            width: 48px;
            height: 48px;
        }
    }
}