.header {
    position: relative;
    z-index: 2;

    &__block {
        display: flex;
        justify-content: flex-start;
        height: 15vh;
    }

    &__logo {
        display: flex;
        justify-content: flex-start;
        padding: 6vh 0 2vh;
    }

    &__menu {
        width: 100%;
        height: 85vh;
        display: flex;
        flex-wrap: wrap;
        position: relative;

        &_block {
            width: 0.15%;
            height: auto;
            background-color: $yellow;
            margin-left: 3%;
        }

        &_items {
            display: flex;
            flex-direction: column;
            margin-top: 4%;
            width: 20%;
        }

        &_item {
            position: relative;
            left: -4%;
            width: 100%;
            cursor: pointer;
            margin: 2% 0;
        }

        &_content {
            width: 76.8%;
            margin-top: 12vh;
        }
    }
}

.header-page {
    padding-top: 50px;
    padding-bottom: 50px;

    &__block {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__logo {
        width: 120px;
    }

    &__breadcrumb {
        position: relative;
        display: flex;
        align-items: center;
        padding-right: 15px;
        gap: 15px;
        font-size: 18px;
        font-weight: 700;

        &::before {
            content: "";
            background-image: url(../../assets/images/breadcrumb.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            display: flex;
            align-items: center;
            width: 30px;
            height: 11px;
        }

        &::after {
            content: "";
            background-image: url(../../assets/images/breadcrumb.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            position: absolute;
            display: flex;
            align-items: center;
            width: 30px;
            height: 11px;
            top: 50%;
            left: -20px;
            transform: rotate(180deg) translateY(50%);
        }

        &:nth-child(2)::after {
            display: none;
        }
    }


}


.menu-item {
    position: relative;
    display: flex;
    align-items: stretch;

    &__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        left: -5.5%;
        width: 100%;
    }

    &__icon {
        width: 18%;

        &_active {
            display: none;
            position: absolute;
            width: 13%;
            left: 3.1%;
            top: 0;
        }
    }

    &__title {
        color: white;
        font-size: 2.5vh;
        font-weight: 600;
        width: 78%;
    }

    &__active {
        padding-bottom: 35%;
        padding-top: 35%;

        .menu-item__icon_active {
            display: inline-block;
        }

        .menu-item__block {
            left: 7%;
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 3vh;

        &_icon {
            display: inline-block;
            width: 1vh;
            height: 1vh;
            background-color: #FFDDB1;
            position: absolute;
            top: 48%;
            left: -4vh;
            transform: rotate(45deg);
        }
    }

    &__card {
        width: 100%;
        border-radius: 1.4vh;
        border: 0.2vh solid $yellow;
        background: var(--Dark-Background, linear-gradient(106deg, #283344 -4.68%, #0B0F15 130.26%));
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2.5vh;
        position: relative;
        transition: 300ms ease;
        cursor: pointer;
        text-align: center;
        line-height: 1.2;

        &:hover {
            box-shadow: 0px 0px 28.05737px 0px rgba(255, 162, 23, 0.33) inset, 0px 0px 28.05737px 0px rgba(255, 162, 23, 0.33);
        }

        &::before {
            content: "";
            display: inline-block;
            width: 2.95vh;
            height: 0.2vh;
            background-color: #FFDDB1;
            position: absolute;
            top: 50%;
            left: -3.1vh;
        }

        &::after {
            content: "";
            display: inline-block;
            width: 0.2vh;
            height: 2.95vh;
            background-color: #FFDDB1;
            position: absolute;
            left: 50%;
            top: -3.1vh;
        }

        &:nth-child(4n + 1)::before,
        &:nth-child(-n+4)::after {
            display: none;
        }

        /* &:last-child::after {
            display: none;
        } */

        &_badge {
            width: 7vh;
            height: 1.3vh;
            background-color: $yellow;
            position: absolute;
            top: 0;
            left: 0;
            border-bottom-right-radius: 24px;
            border-top-left-radius: 24px;
        }

        &_img {
            width: 11vh;
            height: 11vh;
            display: flex;
            justify-content: center;
            align-items: center
        }

        &_title {
            margin-top: 1vh;
            font-size: 2vh;
            font-weight: 700;
        }

        &_icon {
            width: 6vh;
            height: 4vh;
            background-color: $yellow;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 3vh;
            right: 0;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;

            &_img {
                width: 1.3vh;
            }
        }
    }
}