.header {
    background-color: $dark-blue;
    position: relative;

    &__gradient {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }


    &__block {
        padding: 60px 0;
        margin-bottom: 50px;
    }

    &__logo {
        display: inline-block;
        max-width: 136px;
        position: relative;
        z-index: 2;
    }

    &__menu {
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 2;

        &_block {
            width: 100%;
            max-width: 100px;
            min-height: 400px;
            height: 700px;
            border: 3px solid $yellow;
            border-top-right-radius: 120px;
            border-bottom-right-radius: 120px;
            position: relative;
            left: -3px;
        }

        &_items {}

        &_item {
            position: relative;
            left: -13px;
        }
    }
}

.menu-item {
    display: flex;
    align-items: center;
    position: relative;
    left: -36px;

    &__icon {
        /* background-color: #fff; */
    }

    &__title {
        color: white;
        font-size: 30px;
        font-weight: 600;
    }
}