.header {
    position: relative;
    z-index: 2;

    &__block {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 20vh;
        padding-left: 50px;

        @include mobile {
            padding-left: 0;
        }

        &_bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 80px;
            box-shadow: 0 0 100px 100px #1f252ee6;
            background: linear-gradient(180.00deg, rgb(31, 37, 46), rgba(31, 37, 46, 0.9) 66.146%);

            @include mobile {
                background: transparent;
                box-shadow: none;
            }
        }
    }

    &__logo {
        width: 110px;
        display: flex;
        justify-content: flex-start;
        position: relative;
        z-index: 2;

        @include mobile {
            width: 80px;
        }
    }

    /* Wisetao */
    &-bg {
        position: absolute;
        width: 100%;
        height: 800px;
        overflow: hidden;
        z-index: 1;
        opacity: 0.5;

        &__gradient1 {
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, #1F252E 0.02%, rgba(31, 37, 46, 0.00) 100%);
        }

        &__gradient2 {
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, #0D0F14 60.95%, rgba(31, 37, 46, 0.00) 98.26%);
        }
    }
}