/* Content page */
.content-bg {
    /* background: linear-gradient(180deg, #1F252E 0%, rgba(31, 37, 46, 0.00) 100%); */
    background: #0D0F14;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.content-over {
    position: relative;
    z-index: 2;
}

.content-page {


    &__block {
        display: flex;
        gap: 30px;
    }

    &__logo {
        margin-bottom: 10px;
        width: 100%;
        height: max-content;
    }

    &__nav {
        min-width: 280px;
        display: flex;
        flex-wrap: wrap;
        padding-top: 50px;
        padding-bottom: 0px;
    }

    &__menu {
        min-width: 250px;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-left: 45px;

        &_block {
            width: 2px;
            height: 100%;
            background-color: $yellow;
        }

        &_content {
            margin-top: 50px;
            position: relative;
            min-width: 260px;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
    }

    &__page {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 250px;

        h2 {
            font-size: 40px;
            text-align: left;
            max-width: 250px;
            line-height: 1.2;
        }
    }

    &__content {

        h3 {
            font-size: 40px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 3.6px;
        }

        p {
            font-size: 20px;
            font-weight: 300;
        }
    }
}

.advantages {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    margin-bottom: 30px;

    &-card {
        color: $yellow;
        border-radius: 15px;
        border: 1px solid $yellow;
        background: $dark-grey;
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 224px;

        &__block {
            text-align: center;
        }

        &__title {
            font-size: 64px;
            font-weight: 900;
            font-family: 'Inter', sans-serif;
            line-height: 1;
        }

        &__text {
            margin-top: 10px;
            font-size: 16px;
            line-height: 1.4;
        }
    }
}

.certificates {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;

    &__card {
        width: 100%;
        max-width: 220px;
        height: 300px;
        border-radius: 15px;
        border: 1px solid $yellow;
        background: $dark-grey;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.group-title {
    font-size: 40px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 40px;
}

.content-menu-item {
    position: relative;
    left: -20px;

    &-active {
        left: 0;
        margin-bottom: 30px;
    }

    &__block {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__img {
        position: relative;

        &_active {
            width: 38px;
            position: relative;
            left: -2.7px;
        }

        &_icon {
            position: absolute;
            left: 15px;
            top: 110px;
            width: 38px;
        }
    }

    &__icon {
        &_img {
            width: 38px;
        }
    }

    &__submenu {
        position: relative;
        width: 100%;
        display: flex;

        &_main {
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1;
        }

        &_block {
            position: absolute;
            top: 35px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 7px;
        }

        &_item {
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            padding-bottom: 5px;
            letter-spacing: 1.2px;
            display: inline-block;
            border-bottom: 2px solid transparent;

            &:hover {
                border-bottom: 2px solid #F09123
            }

            &.active {
                border-bottom: 2px solid #F09123;
                font-weight: 700;
            }
        }
    }

}