.main-wall {
    width: 100%;
    height: 700px;
    position: absolute;
    top: 0;
    overflow: hidden;
    z-index: 6;

    &__overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 2;
        background: linear-gradient(180deg, rgba(15, 17, 22, 0.00) 83.33%, #0F1116 100%);
    }

    &__content {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
    }

    &__img {
        position: absolute;
        z-index: 1;
        height: 100%;
    }

    &__block {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__logo {
        display: flex;
        margin-top: 30px;
    }

    &__heading {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        &_block {}

        &_h1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: 700;
            line-height: 1;
        }

        &_first {
            font-size: 40px;
        }

        &_second {
            font-size: 80px;
        }

        &_text {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: 700;
            font-size: 19px;
            letter-spacing: 1.44px;
        }

        &_icon {
            width: 20px;
            margin-top: 20px;
        }
    }
}

.logistic-page {
    position: relative;
    top: 730px;
    margin-bottom: 730px;
}

.logistic-calc {
    border-radius: 25px;
    padding: 20px;
    border: 1px solid #2F363E;
    background: linear-gradient(265deg, #141A24 5.67%, #151C26 101.65%, #273242 105.95%);
    margin-bottom: 100px;

    &__title {
        font-size: 24px;
        font-weight: 700;
        margin: 0 0 20px;

        &::before {
            content: "";
            display: inline-block;
            width: 4px;
            height: 18px;
            margin-right: 10px;
            background-color: $yellow;
        }
    }

    &__tabs {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;

        &_block {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 16px;
            border: 1px solid #2F363E;
            padding: 10px;
            gap: 15px;
        }
    }

    &__tab {
        padding: 5px 40px;
        border-radius: 8px;

        font-weight: 700;
        font-size: 20px;

        &.tab-active {
            border: 1px solid #4F545C;
            background: #232933;
        }
    }

    &__where {
        &_block {
            display: flex;
            align-items: center;
            gap: 15px;
            padding-top: 25px;
        }

        &_from,
        &_to {
            width: 100%;
            max-width: 180px;
            position: relative;
        }

        &_check {
            margin-left: 10px;
        }

        &_arrow {}

        &_label {
            font-weight: 700;
            font-size: 14px;
            margin-bottom: 10px;
            position: absolute;
            top: -25px;
        }
    }

    &__param {
        margin-top: 50px;

        &_block {
            margin-bottom: 15px;
            display: flex;
            gap: 20px;
        }

        &_group {
            width: 100%;
            max-width: 150px;
        }
    }

    &__ship {
        margin-top: 50px;

        &_block {
            margin-top: 40px;
            display: flex;
            align-items: center;
            gap: 20px;
        }

        &_type {
            display: flex;
            justify-content: space-between;
            margin-top: 25px;
        }

        &_card {
            width: 24%;
        }
    }

    &__input {
        display: flex;
        gap: 20px;
        align-items: center;
        position: relative;

        &_label {
            font-weight: 700;
            font-size: 14px;
            margin-bottom: 4px;
        }

        &_text {
            border-radius: 10px;
            font-size: 14px;
            font-weight: 500;
            padding: 8px 15px;
            color: white;
            font-family: 'Poppins', sans-serif;
            background: var(--Second-blue, #2F3743);
        }

        &_type {
            position: absolute;
            right: 0;
            width: 40px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #5A667D;
            border-radius: 0 10px 10px 0;
            font-size: 18px;
            font-weight: 700;
            color: $yellow;

            &_num {
                position: relative;
                top: -3px;
                left: 2px;
                font-size: 14px;
            }
        }
    }
}

.ship-card {
    &__head {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 77px;
        gap: 10px;
        border-radius: 15px;
        padding: 15px 20px;
        background: var(--Second-blue, #2F3743);
        margin-bottom: 10px;

        &_img {
            width: 50px;
        }

        &_text {
            font-weight: 700;
            text-align: center;
        }
    }

    &__select {}

    &__price {
        margin-top: 15px;
        font-weight: 700;
        text-align: center;
        font-family: "Poppins", sans-serif;
    }
}

/* Select */
.bootstrap-select>.dropdown-toggle {
    border: none;
    color: white;
    padding: 8px 14px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 10px;
    background: var(--Second-blue, #2F3743);

    &:focus {
        outline: none !important;
        outline-offset: 0;
        box-shadow: none;
    }
}

/* Check Box */
.checkbox-wrapper-4 {
    display: flex;
}

.checkbox-wrapper-4 * {
    box-sizing: border-box;
}

.checkbox-wrapper-4 .cbx {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    margin: 0;
}

.checkbox-wrapper-4 .cbx:not(:last-child) {
    margin-right: 6px;
}


.checkbox-wrapper-4 .cbx span {
    float: left;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-4 .cbx span:first-child {
    position: relative;
    width: 22px;
    height: 22px;
    border-radius: 7px;
    transform: scale(1);
    border: 2px solid $yellow;
    transition: all 0.2s ease;
}

.checkbox-wrapper-4 .cbx span:first-child svg {
    position: absolute;
    top: 4px;
    left: 4px;
    fill: none;
    stroke: #fff;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-4 .cbx span:last-child {
    padding-left: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
}

.checkbox-wrapper-4 .cbx:hover span:first-child {
    border-color: $yellow;
}

.checkbox-wrapper-4 .inp-cbx {
    position: absolute;
    visibility: hidden;
}

.checkbox-wrapper-4 .inp-cbx:checked+.cbx span:first-child {
    background: $yellow;
    border-color: $yellow;
    animation: wave-4 0.4s ease;
}

.checkbox-wrapper-4 .inp-cbx:checked+.cbx span:first-child svg {
    stroke-dashoffset: 0;
}

.checkbox-wrapper-4 .inline-svg {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
}

@media screen and (max-width: 640px) {
    .checkbox-wrapper-4 .cbx {
        width: 100%;
        display: inline-block;
    }
}

@-moz-keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}

@-webkit-keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}

@-o-keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}

@keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}




/* Log Ship */
.logistic-shipping {
    &__block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__card {
        width: 48%;
        margin-bottom: 4%;
        border-radius: 15px;
        border: 1px solid #FFF;
        background: linear-gradient(114deg, #0D1323 2.6%, rgba(13, 19, 35, 1) 96.39%), lightgray 155.879px 84.956px / 80.298% 75% no-repeat;
        position: relative;
        padding: 30px;
        overflow: hidden;

        &_block {
            position: relative;
            z-index: 2;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        &_img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
        }

        &_title {
            font-size: 30px;
            font-weight: 700;
            line-height: 1.2;
            margin-bottom: 20px;
        }

        &_text {
            font-weight: 500;
            margin-bottom: 25px;
            line-height: 1.5;

            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }

        &_link {
            font-weight: 400;
            display: flex;
            align-items: center;
            gap: 10px;

            &_icon {
                width: 20px;
                border: 1px solid rgba(255, 255, 255, 0.477);
            }
        }
    }
}

/* Log Blog */
.logistic-blog {
    margin-top: 50px;

    &__block {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    &__card {
        width: 30.5%;
        margin-bottom: 30px;

        &_block {
            position: relative;
            border-radius: 14px;
            overflow: hidden;
            border: 1px solid $yellow;

        }

        &_img {}

        &_overlay {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            background: linear-gradient(180deg, #15191f6b 25.06%, rgba(0, 0, 0, 0.00) 42.45%, rgba(0, 1, 1, 0.20) 59.83%, #12161b7d 101.07%);
        }

        &_tags {
            position: absolute;
            top: 10px;
            right: 15px;
            z-index: 3;
        }

        &_tag {
            font-weight: 400;
            font-size: 14px;
        }

        &_title {
            display: flex;
            font-weight: 700;
            letter-spacing: 1.2px;
            font-size: 16px;
            line-height: 1.2;
            padding: 15px;

            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }
}

/* Timeline */
.timeline {
    position: relative;

    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 63px;
            width: 2px;
            height: 100%;
            background-color: #D9D9D9;
        }
    }

    &__card {
        display: flex;

        &_head {
            width: 100%;
            max-width: 100px;
            display: flex;
            align-items: center;
        }

        &_title {
            font-size: 20px;
            font-weight: 700;
            width: 55px;
        }

        &_dot {
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: #D9D9D9;
        }

        &_content {
            font-weight: 400;
            font-size: 20px;
            line-height: 1.2;
        }
    }

    &__more {
        margin-left: 100px;
    }
}

/* More btn */
.more-btn {
    display: flex;
    align-items: center;
    gap: 6px;

    &__text {
        font-size: 14px;
    }

    &__img {
        width: 10px;
    }
}


/* Partners */
.partners {
    &__block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border-radius: 15px;
        padding: 0 25px 25px;
        border: 1px solid white;
        background: #0D0F14;
    }

    &__img {
        height: 50px;
    }

    &__item {
        margin-top: 30px;
        width: 23%;
        margin-bottom: 20px;
    }
}

.logistic-reviews {
    margin-top: 60px;

    &__block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__card {
        width: 31.5%;
        border-radius: 12px;
        border: 1px solid white;
        background: var(--Dark-Background, linear-gradient(106deg, #283344 -4.68%, #0B0F15 130.26%));
        padding: 20px;
        font-size: 14px;
        margin-bottom: 20px;


        &_text {
            font-size: 14px;

            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 10;
            -webkit-box-orient: vertical;
        }

        &_block {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            margin-top: 15px;
        }

        &_author {
            font-weight: 700;
        }

        &_category {
            font-weight: 400;
        }
    }
}