.main-wall {
    width: 100%;
    height: 700px;
    position: absolute;
    top: 0;
    overflow: hidden;
    z-index: 2;

    &__overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 2;
        background: linear-gradient(180deg, rgba(15, 17, 22, 0.00) 83.33%, #0F1116 100%);
    }

    &__content {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
    }

    &__img {
        position: absolute;
        z-index: 1;
        height: 100%;
    }

    &__block {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__logo {
        display: flex;
        margin-top: 30px;
    }

    &__heading {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        &_block {}

        &_h1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: 700;
            line-height: 1;
        }

        &_first {
            font-size: 40px;
        }

        &_second {
            font-size: 80px;
        }

        &_text {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-weight: 700;
            font-size: 19px;
            letter-spacing: 1.44px;
        }

        &_icon {
            width: 20px;
            margin-top: 20px;
        }
    }
}

.logistic-page {
    position: relative;
    top: 100vh;
    margin-bottom: 730px;
    width: 100%;
}

.ship-card {
    &__head {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 77px;
        gap: 10px;
        border-radius: 15px;
        padding: 15px 20px;
        background: var(--Second-blue, #2F3743);
        margin-bottom: 10px;

        &_img {
            width: 50px;
        }

        &_text {
            font-weight: 700;
            text-align: center;
        }
    }

    &__select {}

    &__price {
        margin-top: 15px;
        font-weight: 700;
        text-align: center;
        font-family: "Poppins", sans-serif;
    }
}


/* Log Ship */
.logistic-shipping {
    &__block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__card {
        width: 48%;
        margin-bottom: 4%;
        border-radius: 15px;
        border: 1px solid #FFF;
        background: linear-gradient(114deg, #0D1323 2.6%, rgba(13, 19, 35, 1) 96.39%), lightgray 155.879px 84.956px / 80.298% 75% no-repeat;
        position: relative;
        padding: 30px;
        overflow: hidden;

        &_block {
            position: relative;
            z-index: 2;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        &_img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
        }

        &_title {
            font-size: 30px;
            font-weight: 700;
            line-height: 1.2;
            margin-bottom: 20px;
        }

        &_text {
            font-weight: 500;
            margin-bottom: 25px;
            line-height: 1.5;

            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }

        &_link {
            font-weight: 400;
            display: flex;
            align-items: center;
            gap: 10px;

            &_icon {
                width: 20px;
                border: 1px solid rgba(255, 255, 255, 0.477);
            }
        }
    }
}

/* Log Blog */
.logistic-blog {
    margin-top: 50px;

    &__block {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    &__card {
        width: 100%;
        margin: 0;

        &_block {
            position: relative;
            border-radius: 14px;
            overflow: hidden;
            border: 1px solid $yellow;

        }

        &_img {}

        &_overlay {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            background: linear-gradient(180deg, #15191f6b 25.06%, rgba(0, 0, 0, 0.00) 42.45%, rgba(0, 1, 1, 0.20) 59.83%, #12161b7d 101.07%);
        }

        &_tags {
            position: absolute;
            top: 10px;
            right: 15px;
            z-index: 3;
        }

        &_tag {
            font-weight: 400;
            font-size: 14px;
        }

        &_title {
            display: flex;
            font-weight: 700;
            letter-spacing: 1.2px;
            font-size: 16px;
            line-height: 1.2;
            padding: 15px;

            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }
}

/* Timeline */
.timeline {
    position: relative;

    &__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 63px;
            width: 2px;
            height: 100%;
            background-color: #D9D9D9;
        }
    }

    &__card {
        display: flex;

        &_head {
            width: 100%;
            max-width: 100px;
            display: flex;
            align-items: center;
        }

        &_title {
            font-size: 20px;
            font-weight: 700;
            width: 55px;
        }

        &_dot {
            width: 18px;
            height: 18px;
            border-radius: 50%;
            background-color: #D9D9D9;
        }

        &_content {
            font-weight: 400;
            font-size: 20px;
            line-height: 1.2;
        }
    }

    &__more {
        margin-left: 100px;
    }
}

/* More btn */
.more-btn {
    display: flex;
    align-items: center;
    gap: 6px;

    &__text {
        font-size: 14px;
    }

    &__img {
        width: 10px;
    }
}


/* Partners */
.partners {
    &__block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border-radius: 15px;
        padding: 0 25px 25px;
        border: 1px solid white;
        background: #0D0F14;
    }

    &__img {
        height: 50px;
    }

    &__item {
        margin-top: 30px;
        width: 23%;
        margin-bottom: 20px;
    }
}

.logistic-reviews {
    margin-top: 60px;

    &__block {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__card {
        width: 31.5%;
        border-radius: 12px;
        border: 1px solid white;
        background: var(--Dark-Background, linear-gradient(106deg, #283344 -4.68%, #0B0F15 130.26%));
        padding: 20px;
        font-size: 14px;
        margin-bottom: 20px;


        &_text {
            font-size: 14px;

            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 10;
            -webkit-box-orient: vertical;
        }

        &_block {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            margin-top: 15px;
        }

        &_author {
            font-weight: 700;
        }

        &_category {
            font-weight: 400;
        }
    }
}

.logistic-check {
    margin-top: 40px;
    margin-bottom: 40px;

    &__title {
        margin-bottom: 30px;
    }

    &__block {
        padding: 30px;
        border-radius: 15px;
        border: 1px solid $orange;
    }

    &__form {
        display: grid;
        grid-template-columns: 1fr 180px;
        gap: 20px;

        @include mobile {
            grid-template-columns: 1fr;
        }

        &_text {
            border: 1px solid $orange;
            border-radius: 10px;
            background-color: #0D0F14;
            padding: 6px 15px;
            color: white;
            text-transform: uppercase;
            font-weight: 600;

            &::placeholder {
                color: #ffffff80;
            }

            &:focus {
                border: 1px solid $orange;
            }
        }

        &_btn {
            margin: 0;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    &__info {
        display: flex;
        flex-wrap: wrap;
        gap: 12px 25px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    &__item {
        display: flex;
        gap: 8px;
        font-size: 15px;

        &_title {
            font-weight: 700;
        }

        &_text {
            color: $orange;

            &._paid {
                color: #44C751;
            }

            &._unpaid {
                color: #ff5151;
            }
        }
    }

    &__status {
        padding: 10px 20px 20px;
        border-radius: 25px;
        border-left: 1px dashed $orange;
        position: relative;

        &::before {
            content: "";
            width: 30px;
            height: 30px;
            background-color: #0D0F14;
            position: absolute;
            left: 0;
            top: 0;
        }

        &_item {
            position: relative;
            z-index: 2;
            margin-bottom: 15px;

            &_dot {
                position: absolute;
                left: -30px;
                top: 50%;
                transform: translateY(-50%);
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 3px;
                border: 1px solid transparent;
                border-radius: 50%;
                background-color: #0D0F14;

                & ._dot {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: $orange;
                }
            }

            &._active {
                .logistic-check__status_item_dot {
                    border: 1px solid $orange;
                }
            }
        }

        &_more {
            position: absolute;
            bottom: -20px;
            left: 20px;
            border-radius: 10px;
            border: 1px solid #646C78;
            padding: 8px 24px;
            font-weight: 700;
            text-transform: uppercase;
            background-color: #0D0F14;
            display: flex;
            align-items: center;
            gap: 10px;

            svg path {
                transition: 300ms ease;
            }

            &:hover {
                border-color: $orange;

                svg path {
                    stroke: $orange;
                }
            }

            &:focus {
                border: 1px solid $orange;
            }

            &._active {
                svg {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .hidden {
        display: none;
    }

    .show {
        display: flex;
    }
}

/* Additional */
.block-services {
    padding: 60px 0px;
    background: #0E0E0E;
    overflow-x: clip;

    &__wrap {
        position: sticky;
        top: 10%;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    &__body {
        display: flex;
        width: max-content;
        height: auto;
        flex-wrap: nowrap;
        padding-left: 30vw;
        padding-right: 40vw;
        gap: 30px;
        margin-top: 60px;
    }

    .service-item {
        width: 100%;
        max-width: 450px;
        padding: 30px;
        background-color: #141a24;
        border: 1px solid #2f3743;
        border-radius: 25px;

        &:last-child {
            margin-right: 0px;
        }
    }

    @media (max-width: 991px) {
        padding: 30px 0px;

        &__top {
            flex-direction: column;
            align-items: flex-start;
        }

        &__top .block-title {
            margin-bottom: 0px;
        }

        &__description {
            margin-top: 20px;
            margin-left: 0px;
        }

        &__wrap {
            position: static;
        }

        &__body {
            padding-bottom: 15px;
            padding-left: 15px;
            padding-right: 15px;
            overflow-x: auto;
            width: 100%;
        }
    }

    @media (max-width: 480px) {
        .service-item {
            max-width: 300px;
        }
    }
}