<header class="header">
    <div class="container">
        <div class="header__block">
            <div class="header__gradient">
                <img src="../assets/images/gradient.svg" alt="gradient">
            </div>
            <a href="#" class="header__logo">
                <img src="../assets/images/logo.svg" alt="logo">
            </a>
        </div>
    </div>
    <div class="header__menu">
        <div class="header__menu_block"></div>
        <div class="header__menu_items">
            <div class="header__menu_item">Разработка</div>
        </div>
    </div>
</header>