{{> head }}

<body>

    <div class="content-bg">

        <div class="content-over">

            <div class="header-bg">
                <div class="header-bg__gradient1"></div>
                <div class="header-bg__gradient2"></div>
                <img src="assets/images/bg.svg" alt="">
            </div>

            <main class="container-fluid main">
                <div class="content-page">
                    <div class="content-page__block">

                        <!-- Menu -->
                        <div class="page-menu">
                            <a href="index.html" class="page-menu__logo">
                                <img src="assets/images/logo.svg" alt="">
                            </a>
                            <div class="page-menu__block">
                                <div class="page-menu__dot">
                                    <div class="page-menu__dot_block">
                                        <img class="page-menu__dot_img" src="assets/images/menu-dot.svg" alt="">
                                        <span class="page-menu__dot_text">Меню</span>
                                    </div>
                                </div>
                                <div class="page-menu__line"></div>
                                <div class="page-menu__menu">
                                    <div class="page-menu__menu_item active">
                                        <a class="page-menu__menu_link active" href="about.html">О нас</a>
                                        <div class="page-menu__menu_drop active">
                                            <a class="page-menu__menu_drop_link" href="about.html">История компании</a>
                                            <a class="page-menu__menu_drop_link active" href="blog.html">Блог</a>
                                            <a class="page-menu__menu_drop_link" href="faq.html">FAQ</a>
                                            <a class="page-menu__menu_drop_link" href="reviews.html">Отзывы</a>
                                            <a class="page-menu__menu_drop_link" href="contacts.html">Контакты</a>
                                        </div>
                                    </div>
                                    <div class="page-menu__menu_item">
                                        <a class="page-menu__menu_link" href="#">Разработка</a>
                                    </div>
                                    <div class="page-menu__menu_item">
                                        <a class="page-menu__menu_link" href="#">Дизайн</a>
                                    </div>
                                    <div class="page-menu__menu_item">
                                        <a class="page-menu__menu_link" href="marketing.html">Маркетинг</a>
                                    </div>
                                    <div class="page-menu__menu_item">
                                        <a class="page-menu__menu_link" href="#">Консалтинг</a>
                                    </div>
                                    <div class="page-menu__menu_item">
                                        <a class="page-menu__menu_link" href="#">Переводы</a>
                                    </div>
                                    <div class="page-menu__menu_item">
                                        <a class="page-menu__menu_link" href="logistic.html">Логистика</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {{> body }}

                    </div>
                </div>
            </main>

        </div>

        <div class="lines">
            <div class="lines__line"></div>
            <div class="lines__line"></div>
            <div class="lines__line"></div>
            <div class="lines__line"></div>
            <div class="lines__line"></div>
        </div>

    </div>



    {{> footer }}


    <script src="assets/js/app.js"></script>

</body>
</html>