{{> head }}

<body>

    <div class="content-bg">

        <div class="content-over">

            <div class="header-bg">
                <div class="header-bg__gradient1"></div>
                <div class="header-bg__gradient2"></div>
                <img src="assets/images/bg.svg" alt="">
            </div>

            <main class="container-fluid main">
                <div class="content-page">
                    <div class="content-page__block">

                        <!-- Menu -->
                        <div class="page-menu">
                            <a href="index.html" class="page-menu__logo">
                                <img src="assets/images/logo.svg" alt="">
                            </a>
                            <div class="page-menu__block">
                                <div class="page-menu__dot">
                                    <div class="page-menu__dot_block">
                                        <img class="page-menu__dot_img" src="assets/images/menu-dot.svg" alt="">
                                        <span class="page-menu__dot_text">Меню</span>
                                    </div>
                                </div>
                                <div class="page-menu__line"></div>
                                <div class="page-menu__menu">
                                    <div class="page-menu__menu_item">
                                        <button data-in-menu="about" class="page-menu__menu_link">О нас</button>
                                        <div data-in-content="about" class="page-menu__menu_drop">
                                            <a class="page-menu__menu_drop_link" href="about.html">История компании</a>
                                            <a class="page-menu__menu_drop_link" href="blog.html">Блог</a>
                                            <a class="page-menu__menu_drop_link" href="faq.html">FAQ</a>
                                            <a class="page-menu__menu_drop_link" href="reviews.html">Отзывы</a>
                                            <a class="page-menu__menu_drop_link" href="contacts.html">Контакты</a>
                                        </div>
                                    </div>
                                    <div class="page-menu__menu_item">
                                        <button data-in-menu="develop" class="page-menu__menu_link">Разработка</button>
                                        <div data-in-content="develop" class="page-menu__menu_drop">
                                            <a class="page-menu__menu_drop_link" href="about.html">Создание сайтов</a>
                                            <a class="page-menu__menu_drop_link" href="blog.html">Мобильные приложения</a>
                                            <a class="page-menu__menu_drop_link" href="faq.html">ICP Лицензия</a>
                                            <a class="page-menu__menu_drop_link" href="reviews.html">Хостинг в Китае</a>
                                            <a class="page-menu__menu_drop_link" href="contacts.html">Регистрация домена в Китае</a>
                                        </div>
                                    </div>
                                    <div class="page-menu__menu_item">
                                        <button data-in-menu="design" class="page-menu__menu_link">Дизайн</button>
                                        <div data-in-content="design" class="page-menu__menu_drop">
                                            <a class="page-menu__menu_drop_link" href="about.html">Фотостудия</a>
                                            <a class="page-menu__menu_drop_link" href="blog.html">Разработка уникального дизайна</a>
                                            <a class="page-menu__menu_drop_link" href="faq.html">ICP Лицензия</a>
                                            <a class="page-menu__menu_drop_link" href="reviews.html">Хостинг в Китае</a>
                                            <a class="page-menu__menu_drop_link" href="contacts.html">Регистрация домена в Китае</a>
                                        </div>
                                    </div>
                                    <div class="page-menu__menu_item">
                                        <button data-in-menu="marketing" class="page-menu__menu_link">МАРКЕТИНГ</button>
                                        <div data-in-content="marketing" class="page-menu__menu_drop">
                                            <a class="page-menu__menu_drop_link" href="about.html">Фотостудия</a>
                                            <a class="page-menu__menu_drop_link" href="blog.html">Разработка уникального дизайна</a>
                                            <a class="page-menu__menu_drop_link" href="faq.html">ICP Лицензия</a>
                                            <a class="page-menu__menu_drop_link" href="reviews.html">Хостинг в Китае</a>
                                            <a class="page-menu__menu_drop_link" href="contacts.html">Регистрация домена в Китае</a>
                                        </div>
                                    </div>
                                    <div class="page-menu__menu_item">
                                        <button data-in-menu="consal" class="page-menu__menu_link">КОНСАЛТИНГ</button>
                                        <div data-in-content="consal" class="page-menu__menu_drop">
                                            <a class="page-menu__menu_drop_link" href="about.html">Фотостудия</a>
                                            <a class="page-menu__menu_drop_link" href="blog.html">Разработка уникального дизайна</a>
                                            <a class="page-menu__menu_drop_link" href="faq.html">ICP Лицензия</a>
                                            <a class="page-menu__menu_drop_link" href="reviews.html">Хостинг в Китае</a>
                                            <a class="page-menu__menu_drop_link" href="contacts.html">Регистрация домена в Китае</a>
                                        </div>
                                    </div>
                                    <div class="page-menu__menu_item">
                                        <button data-in-menu="transfer" class="page-menu__menu_link">ПЕРЕВОДЫ</button>
                                        <div data-in-content="transfer" class="page-menu__menu_drop">
                                            <a class="page-menu__menu_drop_link" href="about.html">Фотостудия</a>
                                            <a class="page-menu__menu_drop_link" href="blog.html">Разработка уникального дизайна</a>
                                            <a class="page-menu__menu_drop_link" href="faq.html">ICP Лицензия</a>
                                            <a class="page-menu__menu_drop_link" href="reviews.html">Хостинг в Китае</a>
                                            <a class="page-menu__menu_drop_link" href="contacts.html">Регистрация домена в Китае</a>
                                        </div>
                                    </div>
                                    <div class="page-menu__menu_item">
                                        <a class="page-menu__menu_link" href="logistic.html">Логистика</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {{> body }}

                    </div>
                </div>
            </main>

        </div>

        <div class="lines">
            <div class="lines__line"></div>
            <div class="lines__line"></div>
            <div class="lines__line"></div>
            <div class="lines__line"></div>
            <div class="lines__line"></div>
        </div>

    </div>



    {{> footer }}


</body>
</html>