{{> head }}

<body>

    <div class="content-bg">

        <div class="content-over">

            <div class="header-bg">
                <div class="header-bg__gradient1"></div>
                <div class="header-bg__gradient2"></div>
                <img src="assets/images/bg.svg" alt="">
            </div>

            <main class="container-fluid main">
                <div class="content-page">
                    <div class="content-page__block">

                        <!-- Menu -->
                        <div class="page-menu">
                            <a href="index.html" class="page-menu__logo">
                                <img src="assets/images/logo.svg" alt="">
                            </a>
                            <div class="page-menu__block">
                                <div class="page-menu__dot">
                                    <div class="page-menu__dot_block">
                                        <img class="page-menu__dot_img" src="assets/images/menu-dot.svg" alt="">
                                        <span class="page-menu__dot_text">Меню</span>
                                    </div>
                                </div>
                                <div class="page-menu__line"></div>
                                <div class="page-menu__menu">
                                    <div class="page-menu__menu_item">
                                        <button data-in-menu="about" class="page-menu__menu_link">О нас</button>
                                        <div data-in-content="about" class="page-menu__menu_drop">
                                            <a class="page-menu__menu_drop_link" href="about.html">История компании</a>
                                            <a class="page-menu__menu_drop_link" href="blog.html">Блог</a>
                                            <a class="page-menu__menu_drop_link" href="faq.html">FAQ</a>
                                            <a class="page-menu__menu_drop_link" href="reviews.html">Отзывы</a>
                                            <a class="page-menu__menu_drop_link" href="contacts.html">Контакты</a>
                                        </div>
                                    </div>
                                    <div class="page-menu__menu_item">
                                        <button data-in-menu="develop" class="page-menu__menu_link">Разработка</button>
                                        <div data-in-content="develop" class="page-menu__menu_drop">
                                            <a class="page-menu__menu_drop_link" href="#">Создание сайтов</a>
                                            <a class="page-menu__menu_drop_link" href="#">Мобильные приложения</a>
                                            <a class="page-menu__menu_drop_link" href="#">ICP Лицензия</a>
                                            <a class="page-menu__menu_drop_link" href="#">Хостинг в Китае</a>
                                            <a class="page-menu__menu_drop_link" href="#">Регистрация домена в Китае</a>
                                        </div>
                                    </div>
                                    <div class="page-menu__menu_item">
                                        <button data-in-menu="design" class="page-menu__menu_link">Дизайн</button>
                                        <div data-in-content="design" class="page-menu__menu_drop">
                                            <a class="page-menu__menu_drop_link" href="about.html">Фотостудия</a>
                                            <a class="page-menu__menu_drop_link" href="blog.html">Разработка уникального дизайна</a>
                                        </div>
                                    </div>
                                    <div class="page-menu__menu_item">
                                        <button data-in-menu="marketing" class="page-menu__menu_link">МАРКЕТИНГ</button>
                                        <div data-in-content="marketing" class="page-menu__menu_drop">
                                            <div class="page-menu__inside">
                                                <button data-in-level="prodvijenie" class="page-menu__menu_drop_link">Продвижение в BAIDU и на поисковых сервисах</button>
                                                <div data-in-level-content="prodvijenie" class="page-menu__inside_block">
                                                    <a class="page-menu__menu_drop_link" href="#">Продвижение в Baidu Maps, Qyer, Dianping</a>
                                                    <a class="page-menu__menu_drop_link" href="#">Контекстная реклама в Baidu</a>
                                                    <a class="page-menu__menu_drop_link" href="#">SEO продвижение в Baidu</a>
                                                </div>
                                            </div>
                                            <div class="page-menu__inside">
                                                <button data-in-level="smm" class="page-menu__menu_drop_link">SMM</button>
                                                <div data-in-level-content="smm" class="page-menu__inside_block ">
                                                    <a class="page-menu__menu_drop_link" href="#">Продвижение в социальных сетях</a>
                                                    <a class="page-menu__menu_drop_link" href="#">WeChat</a>
                                                    <a class="page-menu__menu_drop_link" href="#">WeiBo</a>
                                                    <a class="page-menu__menu_drop_link" href="#">Douyin</a>
                                                    <a class="page-menu__menu_drop_link" href="#">YOUKU</a>
                                                    <a class="page-menu__menu_drop_link" href="#">Bilibili</a>
                                                    <a class="page-menu__menu_drop_link" href="#">Tencent QQ</a>
                                                </div>
                                            </div>
                                            <div class="page-menu__inside">
                                                <a class="page-menu__menu_drop_link" href="#">ATL/BTL маркетинг</a>
                                            </div>
                                            <div class="page-menu__inside">
                                                <button data-in-level="pr" class="page-menu__menu_drop_link">PR кампании в Китае</button>
                                                <div data-in-level-content="pr" class="page-menu__inside_block">
                                                    <a class="page-menu__menu_drop_link" href="#">Цифровая дистрибуция и продвижение для артистов и музыкальных лейблов</a>
                                                    <a class="page-menu__menu_drop_link" href="#">Продвижение для интернет-селебрити</a>
                                                    <a class="page-menu__menu_drop_link" href="#">Организация онлайн- трансляций в Китае</a>
                                                </div>
                                            </div>
                                            <div class="page-menu__inside">
                                                <a class="page-menu__menu_drop_link" href="#">MICE, деловые туры в Китай, выставки</a>
                                            </div>
                                            <div class="page-menu__inside">
                                                <button data-in-level="ecom" class="page-menu__menu_drop_link">E-Commerce</button>
                                                <div data-in-level-content="ecom" class="page-menu__inside_block">
                                                    <a class="page-menu__menu_drop_link" href="#">Little Red Book</a>
                                                    <a class="page-menu__menu_drop_link" href="#">Таобао</a>
                                                    <a class="page-menu__menu_drop_link" href="#">Tmall</a>
                                                    <a class="page-menu__menu_drop_link" href="#">JD</a>
                                                    <a class="page-menu__menu_drop_link" href="#">Kaola</a>
                                                    <a class="page-menu__menu_drop_link" href="#">VIP</a>
                                                    <a class="page-menu__menu_drop_link" href="#">Pinduoduo</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="page-menu__menu_item">
                                        <button data-in-menu="consal" class="page-menu__menu_link">КОНСАЛТИНГ</button>
                                        <div data-in-content="consal" class="page-menu__menu_drop">
                                            <a class="page-menu__menu_drop_link" href="about.html">Регистрация компании в Китае</a>
                                            <a class="page-menu__menu_drop_link" href="blog.html">Маркетинговые исследования в Китае</a>
                                            <a class="page-menu__menu_drop_link" href="faq.html">Защита бренда в Китае</a>
                                            <a class="page-menu__menu_drop_link" href="reviews.html">Бухгалтерское сопровождение</a>
                                            <a class="page-menu__menu_drop_link" href="contacts.html">Проверка поставщиков в Китае</a>
                                            <a class="page-menu__menu_drop_link" href="contacts.html">Открытие счета в Китае</a>
                                        </div>
                                    </div>
                                    <div class="page-menu__menu_item">
                                        <button data-in-menu="transfer" class="page-menu__menu_link">ПЕРЕВОДЫ</button>
                                        <div data-in-content="transfer" class="page-menu__menu_drop">
                                            <a class="page-menu__menu_drop_link" href="about.html">Языковая адаптация вашего бизнеса</a>
                                        </div>
                                    </div>
                                    <div class="page-menu__menu_item">
                                        <a class="page-menu__menu_link" href="logistic.html">Логистика</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {{> body }}

                    </div>
                </div>
            </main>

        </div>

        <div class="lines">
            <div class="lines__line"></div>
            <div class="lines__line"></div>
            <div class="lines__line"></div>
            <div class="lines__line"></div>
            <div class="lines__line"></div>
        </div>

    </div>



    {{> footer }}


</body>
</html>